In [35]:
from pymysql import connect
from pymysql.cursors import DictCursor

class ConnectionDB:
    def __init__(self):
        self.connection = connect(
            host='localhost',
            user='root',
            password='anh1710gdt',
            db='qlsv',
            charset='utf8mb4',
            cursorclass=DictCursor)
        
    def close(self):
        self.connection.close()

    def save(self):
        self.connection.commit()

    def rollback(self):
        self.connection.rollback()

    def get_cursor(self):
        return self.connection.cursor()
    
    def get_connection(self):
        return self.connection
    
    def create_table(self, table_name, fields):
        cursor = self.get_cursor()
        cursor.execute(f'''
            CREATE TABLE IF NOT EXISTS {table_name} (
                {fields}
            )
            ''')
        self.save()

In [3]:
db = ConnectionDB()
cursor = db.get_cursor()
db.create_table('khoa', '''
    id int primary key auto_increment,
    ma_khoa varchar(255) not null unique,
    name varchar(255) not null,
    created_at timestamp default current_timestamp
''')

db.create_table('nganh', '''
    id int primary key auto_increment,
    ma_nganh varchar(255) not null unique,
    name varchar(255) not null,
    created_at timestamp default current_timestamp,
    ma_khoa varchar(255) not null references khoa(ma_khoa)
''')

db.create_table('lop', '''
    id int primary key auto_increment,
    ma_lop varchar(255) not null unique,
    name varchar(255) not null,
    khoahoc varchar(50) not null,
    hedaotao varchar(50) not null,
    namhoc int not null,
    created_at timestamp default current_timestamp,
    ma_nganh varchar(255) not null references nganh(ma_nganh)
''')

db.create_table('sinhvien', '''
    id int primary key auto_increment,
    ma_sinhvien varchar(255) not null unique,
    name varchar(255) not null,
    gender boolean not null,
    brithday date not null,
    address varchar(255) not null,
    ma_lop varchar(255) not null references lop(ma_lop),
    created_at timestamp default current_timestamp
''')

db.create_table('hocphan', '''
    id int primary key auto_increment,
    ma_hocphan varchar(255) not null unique,
    name varchar(255) not null,
    sotinchi int not null,
    ma_nganh varchar(255) not null references nganh(ma_nganh),
    hocky int not null,
    created_at timestamp default current_timestamp
''')

db.create_table('diem', '''
    id int primary key auto_increment,
    diem float not null,
    ma_sinhvien varchar(255) not null references sinhvien(ma_sinhvien),
    ma_hocphan varchar(255) not null references hocphan(ma_hocphan),
    created_at timestamp default current_timestamp
''')
db.close()

In [7]:
# db = ConnectionDB()

# cursor = db.get_cursor()
# cursor.execute('insert into khoa(ma_khoa, name) values("CNTT", "Công nghệ thông tin")')
# cursor.execute('insert into khoa(ma_khoa, name) values("KT", "Kinh tế")')
# cursor.execute('insert into khoa(ma_khoa, name) values("NN", "Ngoại ngữ")')
# cursor.execute('insert into khoa(ma_khoa, name) values("DL", "Du lịch")')

# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("CNTT1", "Công nghệ thông tin 1", "CNTT")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("CNTT2", "Công nghệ thông tin 2", "CNTT")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("KT1", "Kinh tế 1", "KT")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("KT2", "Kinh tế 2", "KT")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("NN1", "Ngoại ngữ 1", "NN")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("NN2", "Ngoại ngữ 2", "NN")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("DL1", "Du lịch 1", "DL")')
# cursor.execute('insert into nganh(ma_nganh, name, ma_khoa) values("DL2", "Du lịch 2", "DL")')

# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D20CNTT01", "Công nghệ thông tin 1", "D20", "Đại học", 2018, "CNTT1")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D20CNTT02", "Công nghệ thông tin 2", "D20", "Đại học", 2018, "CNTT2")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D19KT01", "Kinh tế 1", "D19", "Đại học", 2017, "KT1")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D19KT02", "Kinh tế 2", "D19", "Đại học", 2017, "KT2")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D18NN01", "Ngoại ngữ 1", "D18", "Đại học", 2016, "NN1")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D18NN02", "Ngoại ngữ 2", "D18", "Đại học", 2016, "NN2")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D17DL01", "Du lịch 1", "D17", "Đại học", 2015, "DL1")')
# cursor.execute('insert into lop(ma_lop, name, khoahoc, hedaotao, namhoc, ma_nganh) values("D17DL02", "Du lịch 2", "D17", "Đại học", 2015, "DL2")')

# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCCN001", "Nguyễn Văn A", 1, "2000-01-01", "Hà Nội", "D20CNTT01")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCCN002", "Nguyễn Văn B", 1, "2000-01-02", "Hà Nội", "D20CNTT01")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCCN003", "Nguyễn Văn C", 1, "2000-01-03", "Hai Phong", "D20CNTT01")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCCN004", "Nguyễn Văn D", 0, "2000-01-04", "Hà Nội", "D20CNTT02")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCCN005", "Nguyễn Văn E", 1, "2000-01-05", "Hà Nội", "D20CNTT02")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCKT006", "Nguyễn Văn F", 1, "2000-01-05", "Thai Binh", "D19KT01")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCKT007", "Nguyễn Văn G", 0, "2000-01-05", "Hà Nội", "D19KT02")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCNN008", "Nguyễn Văn H", 1, "2000-01-05", "Nghe An", "D18NN01")')
# cursor.execute('insert into sinhvien(ma_sinhvien, name, gender, brithday, address, ma_lop) values("B20DCNN009", "Nguyễn Văn I", 0, "2000-01-05", "Hà Nội", "D18NN02")')

# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT001", "Cấu trúc dữ liệu và giải thuật", 3, "CNTT1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT002", "Lập trình hướng đối tượng", 3, "CNTT1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT003", "Cơ sở dữ liệu", 3, "CNTT1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT004", "Lập trình web", 3, "CNTT1", 2)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT005", "Hệ điều hành", 3, "CNTT1", 2)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT006", "Mạng máy tính", 3, "CNTT1", 2)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT007", "An toàn thông tin", 3, "KT1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT008", "Kinh tế học", 3, "KT1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT009", "Quản trị kinh doanh", 3, "KT2", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT010", "Tiếng Anh", 3, "NN1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT011", "Tiếng Trung", 3, "NN2", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT012", "Du lịch", 3, "DL1", 1)')
# cursor.execute('insert into hocphan(ma_hocphan, name, sotinchi, ma_nganh, hocky) values("CTT013", "Lịch sử", 3, "DL2", 1)')

# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN001", "CTT001")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN001", "CTT002")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(9, "B20DCCN001", "CTT003")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN001", "CTT004")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN001", "CTT005")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(9, "B20DCCN001", "CTT006")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN001", "CTT007")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN001", "CTT008")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(9, "B20DCCN001", "CTT009")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN001", "CTT010")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN001", "CTT011")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(9, "B20DCCN001", "CTT012")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN001", "CTT013")')

# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN002", "CTT001")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN002", "CTT002")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(9, "B20DCCN002", "CTT003")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN002", "CTT004")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN002", "CTT005")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(9, "B20DCCN003", "CTT006")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(8, "B20DCCN003", "CTT007")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN003", "CTT008")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(7, "B20DCCN003", "CTT009")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(2, "B20DCCN003", "CTT010")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(3, "B20DCCN004", "CTT011")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(5, "B20DCCN004", "CTT012")')
# cursor.execute('insert into diem(diem, ma_sinhvien, ma_hocphan) values(4, "B20DCCN004", "CTT013")')

# db.save()
# db.close()

In [3]:
class ShowTable():
    def __init__(self, db) -> None:
        self.db = db
        self.cursor = self.db.get_cursor()

    def show_table(self, table_name):
        self.cursor.execute(f'select * from {table_name}')
        return self.cursor.fetchall()
db = ConnectionDB()
show = ShowTable(db)
khoa = show.show_table('khoa')
nganh = show.show_table('nganh')
lop = show.show_table('lop')
sinhvien = show.show_table('sinhvien')
print(khoa)
print(nganh)
print(lop)
print(sinhvien)
db.close()

[{'id': 1, 'ma_khoa': 'CNTT', 'name': 'Công nghệ thông tin', 'created_at': datetime.datetime(2024, 6, 12, 10, 3, 20)}, {'id': 2, 'ma_khoa': 'KT', 'name': 'Kinh tế', 'created_at': datetime.datetime(2024, 6, 12, 10, 3, 20)}, {'id': 3, 'ma_khoa': 'NN', 'name': 'Ngoại ngữ', 'created_at': datetime.datetime(2024, 6, 12, 10, 3, 20)}, {'id': 4, 'ma_khoa': 'DL', 'name': 'Du lịch', 'created_at': datetime.datetime(2024, 6, 12, 10, 3, 20)}]
[{'id': 1, 'ma_nganh': 'CNTT1', 'name': 'Công nghệ thông tin 1', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'CNTT'}, {'id': 2, 'ma_nganh': 'CNTT2', 'name': 'Công nghệ thông tin 2', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'CNTT'}, {'id': 3, 'ma_nganh': 'KT1', 'name': 'Kinh tế 1', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'KT'}, {'id': 4, 'ma_nganh': 'KT2', 'name': 'Kinh tế 2', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'KT'}, {'id': 5, 'ma_nganh': 'NN1', 'name': 'Ngoại ngữ 1', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'NN'}, {'id': 6, 'ma_nganh': 'NN2', 'name': 'Ngoại ngữ 2', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'NN'}, {'id': 7, 'ma_nganh': 'DL1', 'name': 'Du lịch 1', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'DL'}, {'id': 8, 'ma_nganh': 'DL2', 'name': 'Du lịch 2', 'created_at': datetime.datetime(2024, 6, 12, 10, 7, 24), 'ma_khoa': 'DL'}]
[{'id': 1, 'ma_lop': 'D20CNTT01', 'name': 'Công nghệ thông tin 1', 'khoahoc': 'D20', 'hedaotao': 'Đại học', 'namhoc': 2018, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'CNTT1'}, {'id': 2, 'ma_lop': 'D20CNTT02', 'name': 'Công nghệ thông tin 2', 'khoahoc': 'D20', 'hedaotao': 'Đại học', 'namhoc': 2018, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'CNTT2'}, {'id': 3, 'ma_lop': 'D19KT01', 'name': 'Kinh tế 1', 'khoahoc': 'D19', 'hedaotao': 'Đại học', 'namhoc': 2017, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'KT1'}, {'id': 4, 'ma_lop': 'D19KT02', 'name': 'Kinh tế 2', 'khoahoc': 'D19', 'hedaotao': 'Đại học', 'namhoc': 2017, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'KT2'}, {'id': 5, 'ma_lop': 'D18NN01', 'name': 'Ngoại ngữ 1', 'khoahoc': 'D18', 'hedaotao': 'Đại học', 'namhoc': 2016, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'NN1'}, {'id': 6, 'ma_lop': 'D18NN02', 'name': 'Ngoại ngữ 2', 'khoahoc': 'D18', 'hedaotao': 'Đại học', 'namhoc': 2016, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'NN2'}, {'id': 7, 'ma_lop': 'D17DL01', 'name': 'Du lịch 1', 'khoahoc': 'D17', 'hedaotao': 'Đại học', 'namhoc': 2015, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'DL1'}, {'id': 8, 'ma_lop': 'D17DL02', 'name': 'Du lịch 2', 'khoahoc': 'D17', 'hedaotao': 'Đại học', 'namhoc': 2015, 'created_at': datetime.datetime(2024, 6, 12, 10, 14, 35), 'ma_nganh': 'DL2'}]
[{'id': 1, 'ma_sinhvien': 'B20DCCN001', 'name': 'Nguyễn Văn A', 'gender': 1, 'brithday': datetime.date(2000, 1, 1), 'address': 'Hà Nội', 'ma_lop': 'D20CNTT01', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 2, 'ma_sinhvien': 'B20DCCN002', 'name': 'Nguyễn Văn B', 'gender': 1, 'brithday': datetime.date(2000, 1, 2), 'address': 'Hà Nội', 'ma_lop': 'D20CNTT01', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 3, 'ma_sinhvien': 'B20DCCN003', 'name': 'Nguyễn Văn C', 'gender': 1, 'brithday': datetime.date(2000, 1, 3), 'address': 'Hai Phong', 'ma_lop': 'D20CNTT01', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 4, 'ma_sinhvien': 'B20DCCN004', 'name': 'Nguyễn Văn D', 'gender': 0, 'brithday': datetime.date(2000, 1, 4), 'address': 'Hà Nội', 'ma_lop': 'D20CNTT02', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 5, 'ma_sinhvien': 'B20DCCN005', 'name': 'Nguyễn Văn E', 'gender': 1, 'brithday': datetime.date(2000, 1, 5), 'address': 'Hà Nội', 'ma_lop': 'D20CNTT02', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 6, 'ma_sinhvien': 'B20DCKT006', 'name': 'Nguyễn Văn F', 'gender': 1, 'brithday': datetime.date(2000, 1, 5), 'address': 'Thai Binh', 'ma_lop': 'D19KT01', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 7, 'ma_sinhvien': 'B20DCKT007', 'name': 'Nguyễn Văn G', 'gender': 0, 'brithday': datetime.date(2000, 1, 5), 'address': 'Hà Nội', 'ma_lop': 'D19KT02', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 8, 'ma_sinhvien': 'B20DCNN008', 'name': 'Nguyễn Văn H', 'gender': 1, 'brithday': datetime.date(2000, 1, 5), 'address': 'Nghe An', 'ma_lop': 'D18NN01', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}, {'id': 9, 'ma_sinhvien': 'B20DCNN009', 'name': 'Nguyễn Văn I', 'gender': 0, 'brithday': datetime.date(2000, 1, 5), 'address': 'Hà Nội', 'ma_lop': 'D18NN02', 'created_at': datetime.datetime(2024, 6, 12, 10, 37, 20)}]

In [ ]:
from datetime import datetime
db=ConnectionDB()
cursor = db.get_cursor()
# cursor.execute("""
#     SELECT 
#         ma_sinhvien AS MaSV, 
#         name, 
#         CASE gender 
#             WHEN 1 THEN 'Nam' 
#             ELSE 'Nu' 
#         END AS GioiTinh, 
#         DATE_FORMAT(brithday, '%d/%m/%Y') AS NgaySinh,
#         ma_lop AS MaLop,
#         YEAR(brithday) AS NamSinh 
#     FROM sinhvien
#     where name not like 'A%' and name not like '%A' and name not like 'B%'
# """)

# cursor.execute("""
#     select ma_sinhvien as maSV, name,
#     case gender when 1 then 'Nam' else 'Nu' end as GioiTinh,
#     Date_format(brithday, '%d/%m/%Y') as NgaySinh,
#     ma_lop as MaLop,
#     Year(brithday) as NamSinh
#     from sinhvien
#     where gender = 1 and ma_lop = 'D20CNTT01'                
# """)

# cursor.execute("""
#     select ma_sinhvien as maSV, name,
#     case gender when 1 then 'Nam' else 'Nu' end as GioiTinh,
#     date_format(brithday, '%d/%m/%Y') as NgaySinh,
#     ma_lop as MaLop,
#     year(brithday) as NamSinh
#     from sinhvien
#     where ma_lop not in ('D20CNTT01', 'D20CNTT02')
# """)

cursor.execute("""
    select id, ma_sinhvien as maSV, name,
    case gender when 1 then 'Nam' else 'Nu' end as GioiTinh,
    date_format(brithday, '%d/%m/%Y') as NgaySinh,
    ma_lop as MaLop,
    year(brithday) as NamSinh,
    year(curdate())-year(brithday) as Tuoi
    from sinhvien
    where year(brithday) = 2000 and year(curdate())-year(brithday) between 10 and 30
    order by name desc, brithday asc    
    limit 5 offset 2  
""")
# dem = 5
# table = []
# ketqua = []
# for i in range(2, len(table)):
#     if dem == 0:
#         break
#     if year(i.brithday) == 2000 and 10 <= year(curdate())-year(i.brithday) <= 30:
#         ketqua.append(i)
#         dem -= 1
# ketqua.sort(key = lambda x: (x['name'], x['brithday']))

sinhvien = cursor.fetchall()
for sv in sinhvien:
    # for key, value in sv.items():
    #     print(f'{key}: {value} - {type(value)}')
    print("-----------------")
    print(sv)
db.close()

In [7]:
db = ConnectionDB()
cursor = db.get_cursor()
# show nhung sinh vien co diem >= 5
# cursor.execute("""
#     select sinhvien.ma_sinhvien as MaSV, name as TenSV, ma_lop as MaLop, diem as DiemHP, ma_hocphan as MaHP,
#     case gender when 1 then 'Nam' else 'Nu' end as GioiTinh,
#     date_format(brithday, '%d-%m-%Y') as NgaySinh,
#     year(curdate())-year(brithday) as Tuoi
#     from sinhvien
#     inner join diem on diem.ma_sinhvien = sinhvien.ma_sinhvien
#     where diem >= 5
# """)

# show 3 sinh vien co diem cao nhat cua hoc ky 1
# cursor.execute("""
#     select sinhvien.ma_sinhvien as MaSV, sinhvien.name as TenSV, diem as DiemHP, diem.ma_hocphan as MaHP, 
#     sotinchi as TinChi, hocky as HK
#     from sinhvien
#     inner join diem on diem.ma_sinhvien = sinhvien.ma_sinhvien
#     inner join hocphan on hocphan.ma_hocphan = diem.ma_hocphan
#     where hocky = 1
#     order by diem.diem desc
#     limit 3
# """)

# show 3 sinh vien co diem cao nhat cua hoc ky 1 cua khoa cntt
cursor.execute("""
    select sinhvien.ma_sinhvien as MaSv, sinhvien.name as TenSV, sinhvien.ma_lop as MaLop, 
    diem.diem as DiemHP, nganh.ma_khoa as MaKhoa, diem.ma_hocphan as TenHP, hocphan.hocky as HocKy
    from sinhvien
    inner join diem on diem.ma_sinhvien = sinhvien.ma_sinhvien
    inner join hocphan on diem.ma_hocphan = hocphan.ma_hocphan
    inner join lop on lop.ma_lop = sinhvien.ma_lop
    inner join nganh on lop.ma_nganh = nganh.ma_nganh
    where hocphan.hocky = 1 and nganh.ma_khoa = 'cntt'
    order by diem.diem desc
    limit 3
""")
sinhvien = cursor.fetchall()
for sv in sinhvien:
    # for key, value in sv.items():
    #     print(f'{key}: {value} - {type(value)}')
    print("-----------------")
    print(sv)
db.close()

-----------------
{'MaSV': 'B20DCCN001', 'TenSV': 'Nguyễn Văn A', 'DiemHP': 9.0, 'MaHP': 'CTT003', 'TinChi': 3, 'HK': 1}
-----------------
{'MaSV': 'B20DCCN001', 'TenSV': 'Nguyễn Văn A', 'DiemHP': 9.0, 'MaHP': 'CTT009', 'TinChi': 3, 'HK': 1}
-----------------
{'MaSV': 'B20DCCN001', 'TenSV': 'Nguyễn Văn A', 'DiemHP': 9.0, 'MaHP': 'CTT012', 'TinChi': 3, 'HK': 1}

In [ ]:
class SinhVien():
    def __init__(self, id, name, age, address, gender, created_at, lop_id):
        self.id = id
        self.name = name
        self.age = age
        self.address = address
        self.gender = gender
        self.created_at = created_at
        self.lop_id = lop_id

In [36]:
db = ConnectionDB()
cursor = db.get_cursor()
cursor.execute('explain analyze select * from diem')
res = cursor.fetchall()
print(res)

[{'EXPLAIN': '-> Table scan on diem  (cost=11.85 rows=116) (actual time=0.141..0.202 rows=116 loops=1)\n'}]

In [ ]:
# cursor.execute('create index idx_diem on diem(diem)')
# cursor.execute('create index idx_masv_diem on diem(ma_sinhvien, diem)')
# cursor.execute('create index idx_mahp_diem on diem(ma_hocphan, diem)')
# cursor.execute('create index idx_masv_mahp on diem(ma_sinhvien, ma_hocphan)')
cursor.execute('show index from diem')
res = cursor.fetchall()
for r in res:
    print(r)

In [ ]:
# delete index
# cursor.execute('alter table diem drop index idx_diem')
# unactive index
# cursor.execute('alter table diem alter index idx_masv_diem invisible')
# active index
# cursor.execute('alter table diem alter index idx_masv_diem visible')
# rename index
# cursor.execute('alter table diem rename index idx_masv_diem to idx_masv_diem_new')
# db.save()

In [ ]:
for i in range(10000):
    cursor.execute('select * from diem where id = %s;', (i,))
    # db.save()
# db.close()

In [56]:
batch_size = 1000
ids = list(range(1000))

for i in range(0, len(ids), batch_size):
    batch_ids = ids[i:i + batch_size]
    format_strings = ','.join(['%s'] * len(batch_ids))
    cursor.execute(f'SELECT * FROM diem WHERE id IN ({format_strings})', batch_ids)
    print(len(cursor.fetchall()))

116

In [ ]:
# patitions demo
cursor.execute('create ')

In [ ]:
# Để tối ưu hóa hiệu suất của câu lệnh SELECT trong vòng lặp khi truy vấn nhiều lần từ cùng một bảng trong MySQL, bạn có thể áp dụng các kỹ thuật sau:

# 1. Sử Dụng IN Để Giảm Số Lần Truy Vấn
# Thay vì thực hiện 1000 truy vấn riêng biệt, bạn có thể thực hiện một truy vấn duy nhất sử dụng IN để tìm tất cả các giá trị của id cùng một lúc. Điều này giúp giảm chi phí overhead của việc thiết lập nhiều kết nối cơ sở dữ liệu.

# Ví Dụ
# Dưới đây là một ví dụ về cách sử dụng IN và batching để tối ưu hóa truy vấn trong Python:
# batch_size = 100
# ids = range(1000)

# for i in range(0, len(ids), batch_size):
#     batch_ids = ids[i:i + batch_size]
#     format_strings = ','.join(['%s'] * len(batch_ids))
#     cursor.execute(f'SELECT * FROM diem WHERE id IN ({format_strings})', batch_ids)
#     results = cursor.fetchall()
#     for row in results:
#         print(row)  # hoặc xử lý kết quả ở đây


# 2. Tối Ưu Hóa Chỉ Mục (Indexes)
# Đảm bảo rằng cột id có chỉ mục. Chỉ mục giúp tăng tốc độ tìm kiếm trên cột id.
# Tạo Chỉ Mục

# CREATE INDEX idx_id ON diem(id);


# 3. Sử Dụng Phân Vùng (Partitioning)
# Nếu bảng của bạn rất lớn, việc phân vùng bảng dựa trên cột id có thể giúp tăng tốc độ truy vấn bằng cách chỉ quét các phân vùng cần thiết.

# Ví Dụ Phân Vùng
# ALTER TABLE diem
# PARTITION BY RANGE (id) (
#     PARTITION p0 VALUES LESS THAN (1000),
#     PARTITION p1 VALUES LESS THAN (2000),
#     PARTITION p2 VALUES LESS THAN (3000),
#     ...
#     PARTITION pN VALUES LESS THAN MAXVALUE
# );
# Lưu Ý: Phân vùng chỉ hoạt động trên MySQL Enterprise Edition.


# 4. Tối Ưu Hóa Bộ Nhớ Đệm Truy Vấn (Query Cache)
# Nếu truy vấn của bạn lặp lại nhiều lần và cơ sở dữ liệu của bạn cho phép, bạn có thể tận dụng bộ nhớ đệm truy vấn để cải thiện hiệu suất.

# Bật Bộ Nhớ Đệm Truy Vấn
# SET GLOBAL query_cache_size = 16777216; -- 16 MB for example
# SET GLOBAL query_cache_type = ON;
# Lưu Ý: Bộ nhớ đệm truy vấn có thể không phù hợp cho mọi trường hợp sử dụng và có thể cần được cấu hình tùy chỉnh để đạt hiệu suất tốt nhất.


# 5. Sử Dụng JOIN Thay Vì Nhiều Truy Vấn (Nếu Phù Hợp)
# Nếu bạn cần dữ liệu từ nhiều bảng, việc sử dụng JOIN có thể hiệu quả hơn so với việc thực hiện nhiều truy vấn riêng biệt.

# Lợi Ích
# Giảm Overhead Kết Nối: Giảm số lần thiết lập kết nối và ngắt kết nối với cơ sở dữ liệu.
# Hiệu Quả Hơn: Sử dụng chỉ mục và truy vấn gộp giúp cải thiện hiệu suất đáng kể.